.logo{
    height: 80px;
    padding: 10px 20px;
}

.navbar {
  display: flex;           
  align-items: center;      
  justify-content: center; 
  padding: 10px 20px;
  color: #FF6B00;
}

header{
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

footer{
    background-color: #0B1120;
    color: #D1D5DB;
}

body{
    background-color: #1F2937;
    color: #9CA3AF;
    padding: 20px;
    margin: 0;
}

header a {
    color: #FF6B00;
    text-decoration: none;
}

.navbar a {

    color: #FF6B00;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 30px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #FF6B00;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        z-index: 1001;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100px;
        height: 100vh;
        background-color: #111827f4;
        flex-direction: column;
        z-index: 1000;
        justify-content: space-evenly;
    }
    .navbar.active {
        display: flex;
    }
}